body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
}

nav a {
    margin-right: 10px;
}

#bilibili-videos {
    margin-top: 20px;
}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2em;
    
}
.nav-link {
    margin: 40px 40px;
    color: rgb(42, 254, 247);
    border: 1px solid rgb(230, 91, 63);  /* 添加一个黑色的边框 */
    border-radius: 50px;  /* 设置边框的圆角 */
    padding: 10px;  /* 添加一些内边距，使文本离边框有一些距离 */
    display:inline-block;
    background-color: rgb(254, 101, 70);
    text-decoration: none;  /* 移除链接的下划线 */
}
.background {
    background-image: url('https://img2018.cnblogs.com/blog/1534387/201908/1534387-20190811001638640-2010579868.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 20vh;
}
nav, #bilibili-videos {
    background-color: transparent;
}